/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/** An element that fades in */
.-fadein1 {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.-fadein15 {
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.-fadein2 {
  animation-duration: 2s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.-fadein25 {
  animation-duration: 2.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.-fadeinLeft5 {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

.-fadeinLeft1 {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

.-fadeinLeft15 {
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

.-fadeinLeft2 {
  animation-duration: 2s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

.-fadeinLeft25 {
  animation-duration: 2.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}
